[submodule "Moza/vendor/spdlog"]
	path = Moza/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Moza/vendor/GLFW"]
	path = Moza/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "Moza/vendor/imgui"]
	path = Moza/vendor/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "Moza/vendor/glm"]
	path = Moza/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Moza/vendor/yaml-cpp"]
	path = Moza/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
